.current-info .current-location h1 {
  color: #fdc2b0;
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 0px;
  margin-top: 30px;
}
.current-info .current-date {
  box-sizing: border-box;
  font-weight: 450;
  margin-bottom: 0px;
}
.current-info .weather-description {
  text-transform: capitalize;
}
